<html lang="pl_PL">
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <% include('./partials/navigation.ejs') %>
    <main>
      <h1 class="heading">404 - Not Found</h1>
    </main>
  </body>
</html>
