<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <main>
      <h1 class="heading">Add product</h1>
      <form action="/products/add" method="POST" class="form">
        <div class="form__group">
          <label for="name" class="form__label">Product name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form__input"
            required
          />
        </div>
        <div class="form__group">
          <label for="description" class="form__label"
            >Product description</label
          >
          <input
            type="text"
            name="description"
            id="description"
            class="form__input"
            required
          />
        </div>
        <button type="submit" class="button">Add product</button>
      </form>
    </main>
  </body>
</html>
