<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <main>
      <h1 class="heading">Home</h1>
    </main>
  </body>
</html>
