<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <main>
      <h1 class="heading">Logout</h1>
    </main>
  </body>
</html>
