<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('./partials/navigation.ejs') %>

    <main>
      <h1 class="heading">Newest product</h1>
      <% if (newestProduct && newestProduct.name && newestProduct.description) {
      %>
      <div>
        New product data - <%= newestProduct.name %>: <%=
        newestProduct.description %>
      </div>
      <% } else { %>
      <div>No new products available.</div>
      <% } %>
    </main>
  </body>
</html>
